DesktopApp_hideit/HideIt_program/Connected Services/ServiceReference1/PhotographerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PhotographerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61612/PhotographerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61612/PhotographerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPhotographerService_GetPhotographerFirstName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPhotographerFirstName" />
  </wsdl:message>
  <wsdl:message name="IPhotographerService_GetPhotographerFirstName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPhotographerFirstNameResponse" />
  </wsdl:message>
  <wsdl:message name="IPhotographerService_GetPhotographerLastName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPhotographerLastName" />
  </wsdl:message>
  <wsdl:message name="IPhotographerService_GetPhotographerLastName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPhotographerLastNameResponse" />
  </wsdl:message>
  <wsdl:message name="IPhotographerService_GetPhotographerEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPhotographerEmail" />
  </wsdl:message>
  <wsdl:message name="IPhotographerService_GetPhotographerEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPhotographerEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="IPhotographerService">
    <wsdl:operation name="GetPhotographerFirstName">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhotographerService/GetPhotographerFirstName" message="tns:IPhotographerService_GetPhotographerFirstName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhotographerService/GetPhotographerFirstNameResponse" message="tns:IPhotographerService_GetPhotographerFirstName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPhotographerLastName">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhotographerService/GetPhotographerLastName" message="tns:IPhotographerService_GetPhotographerLastName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhotographerService/GetPhotographerLastNameResponse" message="tns:IPhotographerService_GetPhotographerLastName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPhotographerEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhotographerService/GetPhotographerEmail" message="tns:IPhotographerService_GetPhotographerEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhotographerService/GetPhotographerEmailResponse" message="tns:IPhotographerService_GetPhotographerEmail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPhotographerService" type="tns:IPhotographerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPhotographerFirstName">
      <soap:operation soapAction="http://tempuri.org/IPhotographerService/GetPhotographerFirstName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhotographerLastName">
      <soap:operation soapAction="http://tempuri.org/IPhotographerService/GetPhotographerLastName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhotographerEmail">
      <soap:operation soapAction="http://tempuri.org/IPhotographerService/GetPhotographerEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PhotographerService">
    <wsdl:port name="BasicHttpBinding_IPhotographerService" binding="tns:BasicHttpBinding_IPhotographerService">
      <soap:address location="http://localhost:61612/PhotographerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>