DesktopApp_hideit/HideIt_program/Connected Services/ServiceReference1/PhotographerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetPhotographerFirstName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="photographerUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="photogrpaherPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotographerFirstNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPhotographerFirstNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotographerLastName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="photographerUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="photogrpaherPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotographerLastNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPhotographerLastNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotographerEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="photographerUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="photogrpaherPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotographerEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPhotographerEmailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>